.flex-container
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background: white;
}

.flex-container > .filler
{
    min-width: 25vh;
}

.flex-container > div
{
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown:last-child
{
    margin-left: auto;
}

.d1 > button
{
    width: 170px;
}

.dropdown > button
{
    border-radius: 30px;
}
