html, body
{
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #222222;
}

#dropdownMenuButton1
{
    text-align: left;
    width: 20vh;
    line-height: 25px;
}

i
{
    line-height: inherit !important;
    display: block;
    float: right;
    vertical-align: middle;
}