@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body
{
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #222222;
}

label
{
    font-size: 90% !important;
    color: dimgrey !important;
}